dj-database-url
django-registration
django-toolbelt
django-postgrespool
gunicorn
whitenoise
macros
pymongo
django-bootstrap-toolkit
nose
dj-static==0.0.6
static==0.4
wsgiref==0.1.2
pyyaml
bcrypt
unidecode
datetime
django-datatables-view
psycopg2
django-suit
