<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sistema Gestión Biblioteca Municipal de Dúdar">
    <meta name="title" content="Biblioteca Municipal Dúdar">
    <meta name="author" content="Rafael Lachica Garrido">
    <meta name="other" content="Dúdar Biblioteca">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <title>{% block title %}Jumbotron Template for Bootstrap{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen" title="no title" charset="utf-8">

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" charset="utf-8"></script>

    <script type="text/javascript" language="javascript" class="init">
         $(document).ready(function() {

             $('#tableResultLibros').dataTable( {
                 "processing": true,
                 "bLengthChange": false,
                 "language":{
                      "sProcessing":     "Procesando...",
                      "sLengthMenu":     "Mostrar _MENU_ registros",
                      "sZeroRecords":    "No se encontraron resultados",
                      "sEmptyTable":     "Ningún dato disponible en esta tabla",
                      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                      "sInfoPostFix":    "",
                      "sSearch":         "Buscar:",
                      "sUrl":            "",
                      "sInfoThousands":  ",",
                      "sLoadingRecords": "Cargando...",
                      "oPaginate": {
                          "sFirst":    "Primero",
                          "sLast":     "Último",
                          "sNext":     "Siguiente",
                          "sPrevious": "Anterior"
                      },
                      "oAria": {
                          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                 },
                 "ajax": {
                     "processing": true,
                     "url": {% url 'catalogoJSONLibros' %},
                     "dataSrc": "",
                 },

                 "columns": [
                         { "data": "fields.titulo" },
                         { "data": "fields.autor" },
                         { "data": "fields.descripcion" },
                         { "data": "fields.anio"},
                         { "data": "fields.editorial"},
                         { "data": "fields.genero" },
                         { "data": "fields.estanteria" },
                         { "data": "fields.codigo"}
                     ]
             } );
         } );


         $(document).ready(function() {

             $('#tableResultDVDs').dataTable( {
                 "processing": true,
                 "bLengthChange": false,
                "showNEntries" : false,
                "language":{
                     "sProcessing":     "Procesando...",
                     "sLengthMenu":     "Mostrar _MENU_ registros",
                     "sZeroRecords":    "No se encontraron resultados",
                     "sEmptyTable":     "Ningún dato disponible en esta tabla",
                     "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                     "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                     "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                     "sInfoPostFix":    "",
                     "sSearch":         "Buscar:",
                     "sUrl":            "",
                     "sInfoThousands":  ",",
                     "sLoadingRecords": "Cargando...",
                     "oPaginate": {
                         "sFirst":    "Primero",
                         "sLast":     "Último",
                         "sNext":     "Siguiente",
                         "sPrevious": "Anterior"
                     },
                     "oAria": {
                         "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                         "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                       }
                },
                 "ajax": {
                     "processing": true,
                     "url": {% url 'catalogoJSONDVDs' %},
                     "dataSrc": ""
                 },

                 "columns": [
                         { "data": "fields.titulo" },
                         { "data": "fields.autor" },
                         { "data": "fields.descripcion" },
                         { "data": "fields.anio"},
                         { "data": "fields.editorial"},
                         { "data": "fields.genero" },
                         { "data": "fields.estanteria" },
                         { "data": "fields.codigo"}
                     ]
             } );
         } );
     </script>


     <script type="text/javascript" language="javascript">
     $(document).ready(function(){

     $("#showTableDVD").click(function(){
         $("#tableResultDVDs").show();
         $("#tableResultLibros").hide();
     });

     $("#showTableBooks").click(function(){
         $("#tableResultLibros").show();
         $("#tableResultDVDs").hide();
     });
   });
     </script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class=" glyphicon glyphicon-search">   Bibliodudar</span></a>
            </div>
            {% block form %}
            <div id="navbar" class="navbar-collapse collapse">
                <form id="form1" class="navbar-form navbar-right" method="post" action="/"> {% csrf_token %}
                    <!-- <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div> -->
                    <button type="submit" form="form1"  class="btn btn-success" action="/">Administracion</button>
                </form>
            </div>
            {% endblock %}
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% block jumbo %}
    <div class="jumbotron">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            <img src="{% static 'images/dudar_escudo.png' %}" class="img-responsive escudo" alt="escudo">
                        </td>
                        <td>
                            <h1>Biblioteca Municipal Dúdar</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br> {% block search %}
        <div class="container">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="  search-query form-control" placeholder="Búsqueda" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">
                            <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        {% endblock %}

        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
    {% endblock %}
    </div>

    {% block menu-foot %}
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Catálogo completo</h2>
                <p> Acceda al cátalogo de recursos completo para búsquedas avanzadas</p>
                <img src="{% static 'images/Recursos.jpg' %}" alt="catalogo" />
                <p><a class="btn btn-default" href="/catalogo/" role="button">Ver catálogo &raquo;</a></p>
            </div>

           <!-- <div class="col-md-4">
                <h2>Búsqueda avanzada</h2>
                <p>Búsqueda avanzada por campos</p>
                <p><a class="btn btn-default" href="/catalogo/" role="button">Búsqueda avanzada &raquo;</a></p>
            </div>-->

            <div class="col-md-4">
                <h2>DVD</h2>
                <p>Catálogo DVDs</p>
                <p><a class="btn btn-default" href="/dvd/" role="button">DVD &raquo;</a></p>
            </div>

        </div>
        {% endblock %}
        <hr>
        <footer>
            <p>&nbsp;	&copy; 2016 Rafael Lachica Garrido</p>
        </footer>
    </div>
    <!-- /container -->



</body>

</html>
